# Project ID. Copy it from the API Credentials in your SignalWire Space.
# Example: 7b98XXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
PROJECT_ID=

# API Token. Copy it from the API Credentials in your SignalWire Space.
# Example: PTda745XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
API_TOKEN=

# RELAY Context (use the same as the one configured for the phone number)
CONTEXT=office

# Destination phone number in E.164 format (this is the phone number you
# configured in SignalWire)
NEXT_PUBLIC_PHONE_NUMBER=+1...