# This is the full name of your SignalWire Space. e.g.: example.signalwire.com
SIGNALWIRE_SPACE_URL=

# Your Project ID - you can find it on the `API` page in your Dashboard.
SIGNALWIRE_PROJECT_ID=

# Your API token - you can generate one on the `API` page in your Dashboard
SIGNALWIRE_API_TOKEN=

# The phone number you'll be using for this Snippet. Must include the `+1` ex. `+11231231234`
SIGNALWIRE_FROMNUMBER=+1<10dlc number>
SIGNALWIRE_TONUMBER=+1<10dlc number>

# If you have an Ngrok account you can include your auth token here.
NGROKTOKEN=

#If hosting this app, enter the host domain here and remove the ngrok tunnel
DOMAIN= 