# Project ID copied from the API Credentials in your SignalWire Space
# Example: 7b98XXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
PROJECT_ID=

# API token copied from the API Credentials in your SignalWire Space
# Example: PTda745XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
API_TOKEN=

# Your SignalWire Space URL copied from the API Credentials in your SignalWire Space
# Example: spacename.signalwire.com
SPACE_URL=

# The URL of your deployed application, including the protocol extension
# Example: https://example.ngrok.app
HOST_APP=

# 10-digit phone number for a sales department in e.164 format
# Example: +12225550110
SALES_NUMBER=

# 10-digit phone number for a support department in e.164 format
# Example: +12225550112
SUPPORT_NUMBER=