body {
    font-family: Montserrat;
}

input {
    width: 200px;
}

/* Hide all divs at start
  We'll use javascript to selectively display divs. */
body>div.dynamic {
    display: none;
}

#root {
    /* width: 400px; */
    width: 90%;
}

#logo {
    width: 130px;
    margin-left: 10px;
}

#events {
    /* width: 100px; */
    height: 300px;
    border-left: dotted 2px gray;
    padding-left: 10px;
}

.body {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 20px;
}

.content {
    min-height: 300px;
}

.header {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 0 50px;
    padding-top: 15px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header>div {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 20px;
}

#instant_invite {
    font-size: 12px;
    font-family: monospace;
}