body {
  margin: 0;
  padding: 0;
}
.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 300px;
  height: 300px;
}

label {
  width: 100%;
}
input {
  width: 100%;
}
textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
}
