# Project ID copied from the API Credentials in your SignalWire Space.
# Example: 7b98XXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
PROJECT_ID=

# API token copied from the API Credentials in your SignalWire Space.
# Example: PTda745XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
API_TOKEN=

# Your SignalWire Space URL copied from the API Credentials in your SignalWire Space.
# Example: spacename.signalwire.com
SPACE_URL=

# The URL you would like to receive the AMD result.
# Example: https://example.ngrok.app
SERVER_URL=

# A phone number from your SignalWire account for caller ID in E.164 format.
# Example: +1XXXXXXXXXXX
SW_NUMBER=

# The test phone number to dial in E.164 format.
# Example: +1XXXXXXXXXXX
CUSTOMER_NUMBER=

# A live agent's phone number in E.164 format.
# Example: +1XXXXXXXXXXX
AGENT_NUMBER=