[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
signalwire = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev = "pipenv run python3 index.py"
