# Project ID copied from the API Credentials in your SignalWire Space
PROJECT_ID=
# API token copied from the API Credentials in your SignalWire Space
API_TOKEN=
# Your SignalWire number receiving messages in E.164 format (+1XXXYYYZZZZ)
ORIGINAL_NUMBER=
# Number you would like to forward to in E.164 format (+1XXXYYYZZZZ)
TO_NUMBER=