SIGNALWIRE_PROJECT_ID=your-project
SIGNALWIRE_TOKEN=your-token

CALLER_ID=a-number-from-your-sw-account
AGENT_NUMBER=any-phone-number
DEFAULT_DESTINATION==any-phone-number
REPORTING_URL=http://localhost:8080