/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.my-modal {
    width: 75%; /* Occupy the 90% of the screen width */
    max-width: 75%;
}

.modal-card .modal-content {
   width: calc(100vw - 100px);
}
