html, body {
  font-family: sans-serif;
  font-size: 16px;
}

#video-conference {
  max-height: 400px;
  aspect-ratio: 16 / 9;
}

#layout-cfg, #position-cfg {
  background-color: whitesmoke;
  padding: 10px;
  margin-top: 20px;
}