# Project ID copied from the API Credentials in your SignalWire Space
PROJECT_ID=
# API token copied from the API Credentials in your SignalWire Space
API_TOKEN=
# Your SignalWire Space URL copied from the API Credentials in your SignalWire Space
SIGNALWIRE_URL=
