.grid {
    display: grid;
    grid-template-columns: 70vw 1fr;
    grid-template-rows: 1fr 100px;
    height: 100vh;
}

.video {
    background-color: black;
    aspect-ratio: 16 / 9;
    max-height: 100%;
    max-width: 100%;
}

.sidebar {
    padding: 10px;
}

.bottombar {
    padding: 5px 20px;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    height: 100%;
}

.bottombar > div {
    display: flex;
    gap: 10px;
}