.container {
    max-width: 600px;
    margin: 60px auto;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.joinForm {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 60px auto;
}

.joinButtons {
    margin: 30px auto;
}

.joinButtons > button {
    margin: 0 10px;
}