# Project ID. Copy it from the API Credentials in your SignalWire Space.
# Example: 7b98XXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
PROJECT_ID=

# API Token. Copy it from the API Credentials in your SignalWire Space.
# Example: PTda745XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
API_TOKEN=

# SPACE_URL. Copy it from the API Credentials in your SignalWire Space.
# Example: spacename.signalwire.com
SPACE_URL=