PRIMARY_SALES=+15557788999
SECONDARY_SALES=+15554433222
RECRUITERS_GROUP=+15556677888,+15559998877
ACCOUNTING_GROUP=+15554455777
JOBS_EMAIL=jobs@yourdomain.com
ACCOUNT_EMAIL=accounts@yourdomain.com

EMAIL_FROM=me@samples.mailgun.org
MAILGUN_DOMAIN=your-Mailgun-domain
MAILGUN_API_KEY=your-Mailgun-api-key